@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-xlarge: 48px;
$font-size-xxlarge: 96px;

$fontFamily: 'Roboto', sans-serif;

@mixin bigTitle {
  //color: $textColor;
  font-size: $font-size-xxlarge;
  font-weight: 900;
  line-height: 0.95;
  margin-bottom: 1rem;
  // questo è il sass color, che permette di operare sui colori. in questo caso, scuriamo il colore della variabile richiamata del 25%
  color: darken($textColor, 25);
  // questa proprietà schiarisce il colore di riferimento
  //color: lighten($color: #000000, $amount: 0)
  // riceve tre parametri, e dobbiamo specificare il colore, la proprietà e la quantità
  //color: adjust($textColor, $lighten, 50);
}
