$padding-default: 20px;
$margin-default: 0 auto;

$display: (
  block: block,
  inline: inline,
);

$screenSizes: (
  sm: 12px,
  normal: 16px,
  md: 24px,
  lg: 36px,
  xl: 48px,
  xxl: 160px,
);

//creo dinamicamente le classi d-block e d-inline
@each $key, $value in $display {
  .display-#{$key} {
    display: $value;
  }
}

//creo dinamicamente le classi per lo screen size
@each $size-key, $size-value in $screenSizes {
  @each $display-key, $display-value in $display {
    // Classi per il padding
    .padding-#{$display-key}-#{$size-key} {
      padding: $size-value;
      display: $display-value;
    }

    // Classi per i margini
    .margin-#{$display-key}-#{$size-key} {
      margin: $size-value;
      display: $display-value;
    }
  }
}
