@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.card-button button,
.navbar-container a {
  font-size: 1.2em;
  color: #612407;
  font-family: 'Outfit', sans-serif;
}

.article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #faf7e3;
  border-radius: 30px;
  overflow: hidden;
}

.article-img {
  margin: 30px;
}

.article-description {
  margin: 30px 30px 30px 0px;
  line-height: 1.4em;
}

.article-description p {
  font-weight: 300;
  font-size: 0.9em;
}

.article-description h2 {
  font-weight: 600;
  font-size: 1.3em;
}

@media screen and (max-width: 1000px) {
  .article-container {
    flex-direction: column-reverse;
  }

  .article-description {
    flex-direction: column;
    margin: 0px 30px 0px 30px;
  }

  .article-img,
  .article-description {
    display: flex;
    justify-content: center;
  }

  .article-img img {
    max-width: 100%;
  }
}
