/* GENERAL */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color: #d0d3d4;
}

header,
footer {
  background-color: #222c38;
}

#navbar,
#above-footer {
  background-color: #35414e;
}

nav,
aside,
section:first-of-type {
  color: #fff;
}

aside,
section:first-of-type,
#above-footer {
  text-align: center;
}

/* MAIN - FULL WIDTH */

#main-full-width {
  width: 100vw;
}



.fake-link {
  color: #2a545c;
  font-size: 0.7em;
  font-weight: 600;
}

/* MAIN - MARGINS */

#main-margins {
  margin: 30px;
}

/* HEADER */

header img {
  width: 10%;
  margin: 5px 30px;
}

header nav {
  display: inline;
}

#navbar li {
  list-style: none;
  display: inline;
  margin-right: 1.3%;
  font-size: 0.7em;
}

/* ASIDE */
aside {
  background-color: #ca6429;
  font-size: 0.6em;
  font-weight: 200;
}

/* SECTION */

section:first-of-type {
  background-image: url('./img/bg-image.png');
  background-repeat: repeat-y;
  background-size: contain;
  padding: 35px 0;
  font-size: 0.7em;
}

section:nth-of-type(2) {
  padding: 5px;
  background-color: #fff;
}

#articles {
  margin: 5px auto;
}

/* ARTICLE */

article {
  width: 20%;
  display: inline-block;
}

article img {
  width: 100%;
  display: inline;
  border-radius: 10px;
  vertical-align: top;
}

/* FOOTER */

#above-footer a {
  color: white;
}

footer #logo-container {
  text-align: center;
}
