<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article component</title>
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div class="article-container">
      <div class="article-img">
        <img
          src="assets/imgs/honey.jpg"
          alt="Immagine barattolo di miele sul tavolo"
        />
      </div>
      <div class="article-description">
        <h2>Our delicious honey</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, quo blanditiis vero maiores eos vel tempora tempore error quod et unde? Dolorem nam rerum facilis libero? Quae voluptate eligendi accusantium repudiandae id suscipit obcaecati voluptates enim nam cum provident maiores necessitatibus quam dolorum dignissimos ipsam nobis culpa laborum reiciendis, in sequi minus temporibus pariatur. Iusto ad voluptate autem illum accusamus.
        </p>
      </div>
    </div>
  </body>
</html>
