/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --primary-color: #fec016;
  --secondary-color: #000000;
  --tertiary-color: #f2f2f2;
  --text-color: #6b6b6b;
}

.container {
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* COMMON */

.button-cta {
}

.left {
}

.right {
}

.row-alignment {
  flex-direction: row;
}

.column-alignment {
  flex-direction: column;
}

.bg-yellow {
  background-color: var(--primary-color);
}

.profile-img {
}

/* HEADER */

/* HERO SECTION */

h1 {
  font-family: 'Ledger', serif;
}
