/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--secondary-color);
}

:root {
  --primary-color: #fec016;
  --secondary-color: #000000;
  --tertiary-color: #f2f2f2;
  --text-color: #6b6b6b;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* COMMON */

.button-cta {
  color: #fff;
  background-color: var(--secondary-color);
  padding: 4px 8px;
  border-radius: 30px;
  width: 15%;
  text-align: center;
}

.button-cta a {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.align-center {
  align-items: center;
}

.left {
}

.right {
}

.row-alignment {
  flex-direction: row;
  display: flex;
  flex-direction: row;
  
}

.wrap {
  flex-wrap: wrap;
}

.column-alignment {
  flex-direction: column;
}

.bg-yellow {
  background-color: var(--primary-color);
}

.profile-img {
  width: 30px;
  border-radius: 50%;
}

.trending-articles a,
.latest-articles a {
  color: var(--secondary-color);
}

.article-number,
.latest-articles a p:last-of-type,
.gray-text,
.gray-text a,
.empty-buttons a,
.footer-nav a {
  color: var(--text-color);
}

p,
a {
  font-size: 0.6em;
  font-weight: lighter;
}

/* HEADER */
header {
  margin-left: 180px;
  margin-right: 180px;
  width: 100%;
  padding: 20px 0px;
}

header a {
  color: var(--secondary-color);
}

.logo-img {
  width: 30%;
}

.logo-img img {
  max-width: 100%;
}

.w-80 {
  width: 80vw;
}

.navbar {
  width: 70%;
  margin-right: 180px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.navbar li {
  margin-right: 20px;
}

.navbar li a {
  width: 100%;
}

/* HERO SECTION */

.hero-section {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.hero-section .left {
  margin-left: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px 0;
}

h1 {
  font-family: 'Ledger', serif;
  font-size: 4em;
  font-weight: lighter;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.hero-section p {
  font-size: 0.8em;
  width: 35%;
}

.hero-section a {
  font-size: 0.7em;
}

/* TRENDING SECTION */

/* ARTICLE SECTION */

/* ASIDE */

/* FOOTER */
