/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2em;
  line-height: 0.8em;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--secondary-color);
}

:root {
  --primary-color: #fec016;
  --secondary-color: #000000;
  --tertiary-color: #f2f2f2;
  --text-color: #6b6b6b;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container-margins {
  margin: 0 10%;
}

/* COMMON */

.button-cta {
  color: #fff;
  background-color: var(--secondary-color);
  padding: 4px 8px;
  border-radius: 30px;
  width: 15%;
  text-align: center;
}

.button-cta a {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.align-center {
  display: flex;
  align-items: center;
}

.inline {
  display: inline;
}

.row-alignment {
  display: flex;
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.column-alignment {
  flex-direction: column;
}

.bg-yellow {
  background-color: var(--primary-color);
}

.profile-img {
  width: 20px;
  border-radius: 50%;
  margin-right: 3%;
}

.trending-articles a,
.latest-articles a {
  color: var(--secondary-color);
}

.latest-articles a p:last-of-type,
.gray-text,
.gray-text a,
.empty-buttons a,
.footer-nav a {
  color: var(--text-color);
}

p,
a,
.article-infos span {
  font-size: 0.8em;
  font-weight: lighter;
}

.article-infos span {
  margin: 0 2px;
}

/* HEADER */
header {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px 0px;
  /* position: fixed;
  top: 0; */
}

header a {
  color: var(--secondary-color);
}

.logo-img {
  width: 20%;
}

.logo-img img {
  max-width: 100%;
}

.navbar {
  width: 80%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.navbar li {
  margin-right: 2%;
}

.navbar li a {
  width: 100%;
}

.article-specs p,
.trending-articles {
  font-size: 0.6em;
}

.article-specs img {
  width: 5%;
}

.article-specs {
  margin-top: 0;
}

.article-specs img {
  margin-left: 1%;
}

/* HERO SECTION */

.hero-section {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.hero-section .left {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px 0;
  width: 60%;
}

.hero-section .right {
  max-width: 40%;
}

.hero-section svg {
  width: 100%;
}

h1 {
  font-family: 'Ledger', serif;
  font-size: 4.5em;
  font-weight: lighter;
  letter-spacing: -2px;
  margin-bottom: 50px;
}

.hero-section p {
  font-size: 0.8em;
  width: 55%;
  margin-bottom: 50px;
  line-height: 1em;
}

.hero-section a {
  font-size: 0.7em;
  margin-bottom: 20px;
}

/* TRENDING SECTION */

.trending-articles {
  margin-top: 30px;
  width: 100%;
  margin-bottom: 60px;
  border-bottom: 1px solid var(--tertiary-color);
}

.trending-articles h3 {
  font-size: 0.7em;
  margin-left: 1%;
}

.trending-articles article {
  width: 30%;
  margin-bottom: 30px;
}

.article-number {
  font-size: 1.5em;
  color: var(--tertiary-color);
  margin-right: 5%;
  font-weight: bold;
  margin-top: 1%;
}

.trending-articles h2 {
  font-size: 1em;
  margin: 0;
}

/* .article-infos {
  display: flex;
  align-items: center;
} */

.article-infos p {
  display: flex;
  align-items: center;
  margin: 5px;
}

/* LATEST ARTICLE SECTION */

.latest-articles {
  width: 100%;
  justify-content: space-between;
}

.latest-articles .col-left {
  width: 70%;
}

.latest-articles .col-right  {
  width: 30%;
  
}

.latest-articles .article-infos {
  width: 100%;
}



.latest-articles aside div:first-of-type {
  display: flex;
  flex-wrap: wrap;
}



/* ASIDE */

/* FOOTER */
