@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rock+Salt&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2em;
}

.container {
  display: flex;
  width: 100%;
  background-color: #404040;
  height: 100vh;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
}

.post-it {
  width: 20%;
  height: 30vh;
  box-shadow: inset 0px -94px 37px -35px rgba(16, 15, 16, 0.241),
    14px 12px 7px 0px rgb(16, 15, 16);
  margin-right: 60px;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yellow {
  background-color: #f7f5c6;
}

.green {
  background-color: #e5ffd6;
}

.purple {
  background-color: #e5d6ff;
}

.row:first-of-type .post-it:first-of-type {
  animation: fadeIn 2.6s;
}

.row:first-of-type .post-it:nth-of-type(2) {
  animation: fadeIn 1s;
}

.row:first-of-type .post-it:nth-of-type(3) {
  animation: fadeIn 1.8s;
}

.row:first-of-type .post-it:last-of-type {
  animation: fadeIn 3s;
}

.row:last-of-type .post-it:first-of-type {
  animation: fadeIn 0.6s;
}

.row:last-of-type .post-it:nth-of-type(2) {
  animation: fadeIn 2.2s;
}

.row:last-of-type .post-it:nth-of-type(3) {
  animation: fadeIn 0.2s;
}

.row:last-of-type .post-it:last-of-type {
  animation: fadeIn 1.4s;
}

@keyframes fadeIn {
  0%,
  25%,
  50%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.row:first-of-type .post-it:last-of-type {
  margin-right: 0;
}

.row:last-of-type .post-it:last-of-type {
  margin-right: 0;
}

.row:first-of-type .post-it:first-of-type,
.row:first-of-type .post-it:nth-of-type(3),
.row:last-of-type .post-it:first-of-type,
.row:last-of-type .post-it:nth-of-type(3) {
  transform: rotate(-5deg);
}

.row:first-of-type .post-it:nth-of-type(2),
.row:last-of-type .post-it:last-of-type {
  transform: rotate(5deg);
}

.row:first-of-type .post-it:last-of-type {
  transform: rotate(10deg);
}

.row:last-of-type .post-it:nth-of-type(2) {
  transform: rotate(-10deg);
}

.row:first-of-type .post-it:hover,
.row:last-of-type .post-it:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
  cursor: pointer;
}

.testo {
  text-align: center;
  width: 100%;
}

h2 {
  margin-bottom: 0;
  font-family: 'Rock Salt', cursive;
}

p {
  margin-top: 0;
  font-family: 'Caveat', cursive;
  font-size: 1.4em;
}
