/* IMPOSTAZIONI GENERALI */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../img/sfondo.png");
  background-position: center;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  color: #393939;
}

body p,
body li,
body table {
  font-size: 0.8em;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

header,
footer {
  text-align: center;
  color: white;
}

header,
#container-white-background,
.articolo {
  margin-bottom: 20px;
  padding: 15px;
}

.ombreggiatura-container {
  box-shadow: 4px 4px 8px 0px, -4px -4px 8px 0px rgb(115, 115, 115);
}

.arrotondamento-bordi,
code {
  border-radius: 2px;
}

span,
footer a {
  color: #ff1493;
}

.url-blue {
  color: #03adad;
  font-weight: 500;
}

/* HEADER */
header {
  background: rgb(105, 165, 188);
  background: linear-gradient(
    180deg,
    rgba(105, 165, 188, 1) 0%,
    rgba(44, 96, 117, 1) 100%
  );
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

h1 {
  font-size: 0.9em;
  font-weight: 500;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: red;
  font-weight: bolder;
}

header li {
  list-style-position: inside;
  font-size: 0.9em;
}

header li::marker {
  content: "⭑ ";
  font-size: 0.8em;
}

#logo {
  width: 10%;
}

/* MAIN */

#container-white-background {
  background-color: #fff;
}

.sfondo-grigio {
  background-color: #dcdcdc;
  padding: 2px 15px;
}

/* ELEMENTI NEL MAIN - ARTICLE */

#post-details p {
  color: #dcdcdc;
}

#video {
  border-radius: 30px;
  margin-bottom: 30px;
}

code {
  padding: 3px;
  border: 1px solid #878787;
}

/* TABELLE */

table {
  text-align: center;
  border-collapse: collapse;
  border-bottom: 2px solid #425faf;
}

td,
th {
  padding: 5px 30px;
}

#table-title {
  font-style: italic;
}

thead tr:nth-of-type(2) {
  background-color: #425faf;
  color: white;
}

tbody tr:nth-child(even),
code {
  background-color: #dcdcdc;
}

/* FORM */

#btn-invia {
  background-color: #425faf;
  color: white;
}

input[type="email"] {
  border: none;
  padding: 5px;
  border-bottom: 2px dashed #393939;
}

input[type="email"]:focus {
  border-bottom: 2px dashed #03adad;
}

/* ELEMENTI NELL' ASIDE */

#novità {
  padding-bottom: 20px;
}

.data {
  text-align: right;
}

aside h4 {
  margin-bottom: -10px;
}

/* FOOTER */

footer {
  background: rgb(33, 76, 91);
  background: linear-gradient(
    180deg,
    rgba(33, 76, 91, 1) 0%,
    rgba(46, 51, 54, 1) 100%
  );
  font-size: 0.8em;
  padding: 10px;
}

footer a {
  font-weight: 600;
  text-decoration: none;
}
