@mixin floating(
  $value1: 9px,
  $value2: 10px,
  $value3: 7px,
  $value4: -2px,
  $borderColor: black
) {
  border-radius: 30px;
  box-shadow: $value1 $value2 $value3 $value4 rgba(0, 0, 0, 0.1);
  border: 1px solid $borderColor;
}

@mixin grid($nElementi) {
  display: flex;
  flex-wrap: wrap;
}
