@import 'reset';
@import 'colors';
@import 'font';
@import 'spacing';
@import 'buttons';
@import 'mixins';
@import 'animations';

body {
  font-family: $fontFamily;
}

body,
header,
main {
  width: 100vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      margin-left: 10px;

      a {
        text-decoration: none;
        color: $secondaryColor;
      }
    }
  }
}

.showcase-content {
  background-color: $backgroundColorHero;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    @include bigTitle;
  }
  div {
    width: 70vw;
  }

  button {
    border: none;
    border-radius: 30px;
    padding: 8px 16px;
    margin-right: 5%;
  }

  img {
    @include floating($borderColor: $textColor);
    width: 30vw;
  }
}
.line-4 {
  img {
    @include floating(5px, 5px, 10px, -2px);
    border: none;
  }
  @include grid(3);
}

/* .container {
    @include grid(3); // Ad esempio, 3 elementi per linea
  }
  
  // Altri stili per gli elementi figli, se necessario
  .container > div {
    // Stili degli elementi figli della griglia
  } */
