@import 'reset';
@import 'colors';
@import 'font';
@import 'spacing';
@import 'buttons';
@import 'mixins';
@import 'animations';

body {
  font-family: $fontFamily;
}

.showcase-content {
  background-color: $backgroundColorHero;
  h1 {
    @include bigTitle;
  }
  button {
    border: none;
  }
}

.container {
    @include grid(3); // Ad esempio, 3 elementi per linea
  }
  
  // Altri stili per gli elementi figli, se necessario
  .container > div {
    // Stili degli elementi figli della griglia
  }