/* GENERAL */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

/* COMMON */

.btn {
  border: none;
}

.dropdown-menu {
  --bs-dropdown-min-width: 10%;
}

.dropdown-menu li:hover {
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-link-hover-bg: red;
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: red;
}

.nav-item a,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle.show,
footer a:hover,
header a,
footer .social-media-section i:hover,
footer .button-link a:hover {
  color: #fff;
}

.squared i,
footer,
footer li a,
footer button,
footer p,
footer .button-link a,
footer .social-media-section a {
  color: gray;
}

footer .button-link,
.profile-details {
  --bs-border-color: gray;
}

/* HEADER */

header,
.navbar .right {
  font-size: 0.7em;
  font-weight: 300;
}

header {
  margin-bottom: 8px;
}

header .dropdown-menu,
header i {
  font-size: 1.2em;
}

.navbar-brand,
.dropdown {
  width: 10%;
}

.navbar-brand img,
.dropdown img {
  max-width: 100%;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link .checked {
  font-weight: 600;
}

.nav-item a:hover,
header a:hover {
  color: red;
}

/* FILTER SECTION */

h1 {
  font-size: 1.6em;
}

.filter-section .btn,
.filter-section .dropdown-menu {
  font-size: 0.7em;
}

.squared {
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.squared i {
  font-size: 0.7em;
}

/* MOVIES SECTION */

.card {
  border: none;
}

.card:hover {
  transform: scale(0.9);
  transition: 0.5s ease-in-out;
}

h2 {
  margin-top: 32px;
  font-size: 0.9em;
}

/* FOOTER */

footer i {
  font-size: 1.3em;
}

footer .social-media-section,
footer li,
footer .button-link {
  margin-bottom: 16px;
}

footer li,
footer .button-link {
  font-size: 0.6em;
  text-wrap: nowrap;
}

footer .social-media-section i {
  margin-right: 16px;
}

footer div,
footer p {
  width: fit-content;
}

.footer-content {
  margin: 0 auto;
}

footer p {
  font-size: 0.5em;
}

/* PROFILE PAGE */

.profile-content .left {
  width: 30%;
}

.profile-content .right {
  width: 70%;
}

.profile-content img {
  width: 100%;
}
