body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#container , #film {
    margin: 0 auto;
    text-align: center;
}

#comtainer {
    width: 90vw;
}

#film {
    display: none;
    background-color: beige;
    padding: 30px 0;
}